* {
    margin:0 ;
    padding: 0;
}

p {
    color: blue;
}
body {
    background-color: #bd3523fa;
}
body {
    font-family: 'Roboto', sans-serif;
}
h1 {
    text-align: center;
}
p {
    text-align: justify;
}