body{
    margin: 0px;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li{
    flex: 0 0 100px;
    background-color:rgb(190, 170, 164);
    margin: 3px;
    padding: 0 4px;
}

aside{
    background-color: rgb(205, 237, 255);
}

footer{
    background-color: black;
    color: white;
}